{% block zicht_url_widget %}
    {% if with_edit_button %}
        <span id="{{ id }}_current" class="current">{{ value }}</span>
        <a id="{{ id }}_search_btn" class="btn" href="#"><i class="ion-edit"></i></a>
        <div id="{{ id }}_search_control" style="display: none; padding-top: 1em">
            {{ block('form_widget_simple') }}
        </div>
    {% else %}
        {{ block('form_widget_simple') }}
    {% endif %}

    <script type="text/javascript">
        (function($) {
            var text_id = '{{ id }}';
            var btn_id = '{{ id }}_search_btn';
            var control_id = '{{ id }}_search_control';
            var id_current = '{{ id }}_current';
            $(function() {
                $('#' + btn_id).click(function(e) {
                    e.preventDefault();
                    $('#' + control_id).slideToggle();
                });
                var $text = $('#' + text_id);
                $text.focus(function() {$(this).select();});
                $text.autocomplete({
                    minLength: 2,
                    source: function(req, response) {
                        $.get(
                            "{{ url_suggest }}",
                            {
                                "pattern": req.term
                            },
                            function(data) {
                                response(data.suggestions);
                            }
                        )
                    },
                    select: function(event, ui) {
                        $('#' + id_current).text(ui.item.label);
                    }
                });
            });
        })(jQuery);
    </script>
{% endblock %}

{% block page_alias_overview_admin_widget %}
    {% for key, url_alias_group in url_aliases|groupBy('getMode') %}
        <h3>{{ ('admin.page_alias_overview_admin.mode_' ~ key)|trans({}, 'admin') }}</h3>
        {% for url_alias in url_alias_group %}
            <div style="margin-bottom:5px;">
                <a style="margin-right: 10px;" class="btn btn-info"
                   href="{{ path('admin_zicht_url_urlalias_edit', {id: url_alias.id}) }}"><i class="fa fa-edit"></i>{{ 'admin.page_alias_overview_admin.edit_button_title'|trans({}, 'admin') }}</a>
                <a href="{{ url_alias.publicUrl }}">{{ url_alias.publicUrl }}</a>
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}
